.full-width {
  width: 100%;
  margin-bottom: 16px;
}
mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

section.wraper_contact {
    padding: 7rem 0 0 0;
    background: #f8f9fa;
}

button {
    background: #576c4d !important;
    color: #fff !important;text-transform: uppercase !important;
    border-radius: 4px !important;
}
