<section class="about_wraper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="about_img">
                    <img src="about-img2.jpg" alt="about">
                </div>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-6">
                <div class="about_text text-left pl-2">
                    <img id="decorator1" src="large_blue_triangle_04.png" alt="about-decorator" />
                    <h2>About Our <span class="short_color">Organization</span></h2>
                    <p>D.S.V. Chemicals is a leading manufacturer and exporters
                        of synthetic resins and has established itself as a dependable supplier of synthetic resins in
                        the Indian and international market.</p>
                    <p>D.S.V. Chemicals offers a wide selection of products for the surface coating industry covering
                        decorative and industrial paints, protective coatings, printing inks and adhesives.</p>
                        <p>D.S.V. works in a close partnership with its customers offering tailor-made solutions to meet their specific requirements.</p>
                        <br>
                    <button class="readMore_btn">Read More</button> 
                </div>                
            </div>
        </div>
    </div>
</section>