div#navbarNav li a {
    color: #292929;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

nav.navbar {
    box-shadow: 0px 9px 24px #dddddd99;
}

button.btn.btn-primary {
    border-radius: 30px;
    padding: 10px 1.5rem;
    font-weight: 600;
    background: #576c4d;
    margin-left: 1rem;
    border: none;
}