div#navbarNav li a {
    color: #292929;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

nav.navbar {
    box-shadow: 0px 9px 24px #dddddd99;
}

button.btn.btn-primary {
    border-radius: 30px;
    padding: 10px 1.5rem;
    font-weight: 600;
    background: #576c4d;
    margin-left: 1rem;
    border: none;
}

.showMobile {
    display: none;
}

// Mobile Responsive CSS
@media (max-width:767px) {
    .showMobile {
        display: block;
    }

    .HideMobile {
        display: none;
    }

    a.navbar-brand img {
        width: 150px;
    }

    .fixed-top {
        position: relative;
    }

    .logo_toggle {
        display: flex;gap: 3px;
    }

    button.btn.btn-primary {
        font-size: 12px;
    }

    button.navbar-toggler {
        background-color: #000;
        border: none;
    }

}