<footer class="footer">
    <div class="footer-container">
        <div class="footer-col about">
            <div class="logo">
                <h2>D.S.V. Chemicals</h2>
                <p class="tagline">Manufacturer and exporters of synthetic resins </p>
            </div>

            <p class="desc">
                Industroz Industry has very good strength in innovative technology
                and tools with over 35 years of experience.
            </p>

            <ul class="contact">
                <li>📍 Noida, Delhi NCR, India</li>
                <li>✉ contact123@gmail.com</li>
                <li>📞 (654) 321-7654</li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Products</h3>
            <ul>
                <li>ROSIN DERIVATIVES</li>
                <li>PHENOLIC RESINS</li>
                <li>ALKYD RESINS</li>
                <li>POLYAMIDE RESINS</li>
                <li>AMINO RESINS BUTYLATED</li>
                <li>ESTERFIED ROSIN DERIVATIVES</li>
                <li>EPOXY ESTER</li>
                <li>OIL FREE POLYESTER RESIN</li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Our Services</h3>
            <ul>
                <li>ACRYLIC RESINS</li>
                <li>POLYURATHANE RESINS</li>
                <li>KETONIC RESINS</li>
                <li>RESINATES</li>
            </ul>
        </div>
        <div class="footer-col newsletter">
            <h3>Newsletter</h3>
            <p>
                Subscribe to our newsletter to receive latest news on our services.
            </p>
            <input type="email" placeholder="Enter your email" />
            <button>Sign Up</button>
            <p class="note">
                We don’t do mail to spam & your mail id is confidential.
            </p>
        </div>

    </div>
    <div class="footer-bottom">
        <p>Copyright © 2026 <span> Ravi Global Tech</span></p>
        <div class="links">
            <a href="#">Terms & Condition</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
</footer>