<div class="applications-section">

  <div class="heading">
    <h1>Our Applications</h1>
    <p>
      High performance resins and solutions for a wide range of industries.
    </p>
  </div>

  <div class="applications-grid">

    <!-- Decorative Paints -->
    <div class="application-card">

      <div class="card-header">
        <div class="icon">
          🎨
        </div>

        <h2>Decorative Paints</h2>
      </div>

      <div class="divider"></div>

      <ul>
        <li>Long Oil Alkyd Resins</li>
        <li>Medium Oil Alkyd Resins</li>
      </ul>

      <div class="card-footer"></div>
    </div>

    <!-- Industrial Coatings -->
    <div class="application-card">

      <div class="card-header">
        <div class="icon">
          🏭
        </div>

        <h2>Industrial Coatings</h2>
      </div>

      <div class="divider"></div>

      <ul>
        <li>Short Oil Alkyd Resins</li>
        <li>Medium Oil Alkyd Resins</li>
        <li>Chain-stopped Alkyd Resins</li>
        <li>Modified Alkyd Resins</li>
        <li>Epoxy Esters</li>
        <li>Oil-free Polyester</li>
        <li>Reactive Polyamide Resins</li>
        <li>Amino Resins</li>
        <li>Pure Phenolic</li>
        <li>Estergum</li>
      </ul>

      <div class="card-footer"></div>
    </div>

    <!-- Printing Inks -->
    <div class="application-card">

      <div class="card-header">
        <div class="icon">
          🖨️
        </div>

        <h2>Printing Inks</h2>
      </div>

      <div class="divider"></div>

      <ul>
        <li>Maleic – Rosin Modified</li>
        <li>Phenolic – Rosin Modified</li>
        <li>Pure Phenolic</li>
        <li>Estergum</li>
        <li>Resinates</li>
        <li>Ketonic</li>
        <li>Non-reactive polyamides</li>
        <li>Polyurethane</li>
        <li>Long Oil Alkyds / Isothalic Alkyds</li>
      </ul>

      <div class="card-footer"></div>
    </div>

    <!-- Acrylic Resins -->
     <div class="application-card">

      <div class="card-header">
        <div class="icon">
          🖨️
        </div>

        <h2>Acrylic Resins</h2>
      </div>

      <div class="divider"></div>

      <ul>
        <li>Thermoplastic</li>
        <li>Thermosetting</li>
        <li>Acrylic Polyo</li> 
      </ul>

      <div class="card-footer"></div>
    </div>

  </div>

</div>