<section class="service-section">
    <h4 class="text-center">Delivering high-performance <span class="short_color">resins</span> for  <br> coatings, inks, and adhesives.</h4>
    <div class="service-container">
        <div class="left-card">
            <div class="top">
                <p class="title">Global providers</p>
                <h1 class="count">ISO 9001-2000</h1>
                <p>Certificate issued by SGS</p>
                <img class="animate__animated animate__bounce" src="small_iso900_2000_ertified_company.jpg">
            </div>
            <div class="bottom"> 
                <button class="btn">
                    Services
                </button>
            </div>
        </div>
        <div class="center-card">
            <img src="new_image.jpg" alt="Lab" />
        </div>
        <div class="right-card">
            <h2 class="heading">
                Virtual consultation
            </h2>
            <p> 
                    D.S.V. works in a close partnership <br> with its 
                    customers offering  <br> tailor-made solutions to meet <br> their specific requirements.
            </p>
            <button class="btn" (click)="openModelDialog()">
                View More
            </button>
        </div>

    </div>

</section>